<header>
  <div class="header-bg header-row">
    <div class="title-color">
      <h2>Frontend Mentor</h2>
      <p class="semi-bold">Feedback Board</p>
    </div>
    <i *ngIf="!open" (click)="ontoggle()" class="hide-menu-icon">
      <svg width="20" height="17" xmlns="http://www.w3.org/2000/svg">
        <title>"Sidebar Open Button"</title>
        <g fill="#FFF" fill-rule="evenodd">
          <path d="M0 0h20v3H0zM0 7h20v3H0zM0 14h20v3H0z" />
        </g>
      </svg>
    </i>
    <i *ngIf="open" (click)="ontoggle()" class="hide-menu-icon">
      <svg width="18" height="17" xmlns="http://www.w3.org/2000/svg">
        <title>Sidebar Close button</title>
        <path
          d="M15.01.368l2.122 2.122-6.01 6.01 6.01 6.01-2.122 2.122L9 10.622l-6.01 6.01L.868 14.51 6.88 8.5.87 2.49 2.988.368 9 6.38 15.01.37z"
          fill="#FFF"
          fill-rule="evenodd"
        />
      </svg>
    </i>
  </div>
</header>
