.roadmap-header {
  padding: 1em 1em;
  background-color: var(--header-bg-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin: auto 2em;
}

@media all and (min-width: 768px) {
  .container {
    margin: 1em 2em;
  }

  .roadmap-header {
    margin: 2em 2em;
    border-radius: 10px;
  }
}

.button-add {
  padding: 0.5rem 0.8rem;
  background-color: var(--primary-color);
  color: var(--field-bg-color);
  border: none;
  border-radius: 10px;
}

.button-add:hover,
.button-add:focus {
  text-decoration: none;
  text-decoration-color: transparent;
  padding: 0.5rem 0.8rem;
  background-color: var(--primary-color-hover);
  color: var(--field-bg-color);
  border: none;
  border-radius: 10px;
}
.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs-btn {
  background-color: transparent;
  padding: 1.5em 1em;
  width: 100%;
  border: transparent;
  color: var(--header-bg-color-light);
  border-bottom: 1px solid var(--tabs-btn-color);
}

.tabs-btn:focus,
.tabs-btn:active:not(:disabled) {
  background-color: transparent;
  padding: 1.5em 1em;
  width: 100%;
  border: transparent;
  color: var(--header-bg-color);
  border-bottom: 5px solid var(--primary-color);
  opacity: 1;
}

.active {
  color: var(--header-bg-color);
  border-bottom: 5px solid var(--primary-color);
  opacity: 1;
}
.status-header {
  margin: 1.5em 1em;
  color: var(--header-bg-color);
}

.status-header > * + * {
  margin-top: 0.5em;
}

.status-header p {
  font-size: 0.875rem;
  color: var(--text-primary-color);
}

.status-container {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-areas: "planned inprogress live";
  grid-auto-flow: row;
  gap: 0.5em;
}

@media all and (min-width: 1101px) {
  .roadmap-header {
    margin: 2em auto;
    max-width: 1050px;
  }
  .container {
    margin: 2em auto;
    max-width: 1050px;
  }

  .status-container {
    grid-template-columns: repeat(3, 345px);
  }

  .status-header p {
    font-size: 1rem;
    color: var(--text-primary-color);
  }
}

.planned {
  grid-area: planned;
}

.inprogress {
  grid-area: inprogress;
}

.live {
  grid-area: live;
}

@media all and (min-width: 1201px) {
  .roadmap-header {
    margin: 2em auto;
    max-width: 1050px;
  }
  .container {
    margin: 2em auto;
    max-width: 1050px;
  }

  .status-container {
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    gap: 2em;
  }

  .status-header p {
    font-size: 1rem;
    color: var(--text-primary-color);
  }
}
